@charset "utf-8";

html {
  font-size: 100%;
}

body {
  color: #383e45;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width : 100%;
}

li {
  list-style: none;
}

h3 {
  font-size: 18px;
}

.container {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto 100px auto;
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header h1 {
  width:120px;
  line-height: 1px;
  padding :10px 0;
}

#header li {
  margin-left: 30px;
}

#header li a {
  color:#24292e;
  cursor: pointer;
}

#header li a:hover {
  opacity: 0.7;
}

.mainvisual {
  margin-bottom: 80px;
}

.mainvisual img {
  width:100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

#About .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#About img {
  margin-right: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#About h2 {
  display: inline-block;
  font-size: 2rem;
  border-bottom: 1px solid #383e45;
  margin-bottom: 60px;
  text-align: center;
  padding-bottom: 5px;
}

#About .content h3 {
  padding: 10px 0;
  text-align: left;
}

#Bicycle h2 {
  font-size: 2rem;
  display: inline-block;
  border-bottom: 1px solid #383e45;
  margin-bottom: 60px;
  padding-bottom: 5px;
}

#Bicycle ul {
  display: flex;
  justify-content: space-between;
}

#Bicycle li {
  width: 32%;
}

#footer p {
  font-size:10px;
  text-align: center;
  margin-bottom: 15px;
}

/* レスポンシブ */
@media screen and (max-width: 600px) {

  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  .mainvisual img {
    height: calc(100vh - 60px);
  }

  /*-------------------------------------------
  About
  -------------------------------------------*/
  #About .content {
    display: flex;
    flex-direction: column;
  }
  #About img {
    margin-right: 0;
  }

  /*-------------------------------------------
  Bicycle
  -------------------------------------------*/
  #Bicycle ul {
    flex-direction: column;
  }
  #Bicycle li {
    width: 100%;
    margin-bottom: 30px;
  }
}